@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screen;

@import 'defaults.scss';

body {
    > div {
        background-image: url('/images/bg.svg');
        background-position: left, bottom;
        background-size: cover;

        .panel {
            @apply bg-white flex;
            width: 95vw;
            height: 90vh;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;

            // overflow-x:hidden;

            -webkit-box-shadow: 0px 15px 40px 20px rgba(0,0,0,0.35); 
            box-shadow: 0px 15px 40px 20px rgba(0,0,0,0.35);

            .left-nav {
                @apply w-1/6 flex;

                .top-logo {
                    img {
                        @apply h-12 w-auto;
                    }
                }

                .bottom {
                    @apply flex items-end justify-center;

                    > div {
                        @apply flex items-center absolute left-0 right-0;

                        bottom: 8rem;
                        transform: rotate(-90deg);

                        img {
                            @apply h-4 w-auto;
                        }

                        p {
                            @apply flex text-grey-400;
                            span {
                                @apply text-grey-600 font-bold;
                            }
                        }
                        
                    }

                }
            }

            .scroller {

                @apply w-5/6 pl-32 h-full relative;
                overflow-y: scroll;
                overflow-x: hidden;

                .top-fader {
                    @apply sticky left-0 right-0 top-0 h-24;
                    background: rgb(248,248,248);
                    background: linear-gradient(0deg, rgba(248,248,248,0) 0%, rgba(255,255,255,1) 98%);
                    z-index: 100;
                }

                .bottom-fader {
                    @apply absolute bottom-0 left-0 right-0 h-24;
                    background: rgb(255,255,255);
                    background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(248,248,248,0) 100%);
                    z-index: 100;
                }

            }
        }
    }
}

#landing {
    @apply relative;

    img {
        @apply absolute right-0;
        top: -6rem;
        z-index: 0;
    }

    .link-row {
        @apply flex items-center mt-6;

        .item {
            @apply flex items-center justify-center text-grey-500 text-xl;
            width: 35px;
            height: 35px;
        }

        .item:hover {
            @apply rounded-full bg-red-400 text-grey-50;
            transition-duration: 0.2s;
        }
    }
}

#open-source {
    .bar {
        @apply flex;
        .left {
            @apply  border-r-2 border-grey-100;

            p {
                writing-mode: vertical-lr;
                text-orientation: mixed;
                transform: rotate(180deg);
                left: 1px;
                position: relative;
            }
        }

        .right {
            @apply flex items-center relative;

            h2 {
                @apply uppercase text-grey-600 text-5xl font-light;
                writing-mode: vertical-lr;
                text-orientation: mixed;
                transform: rotate(180deg);

            }
        }
    }
}