@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screen;

@import 'buttons.scss';

:root {
    --grey-500: #abb8b6;
    --grey-600: #9aa9a7;
    --grey-700: #829291;
    --grey-800: #7a8787;
    --grey-900: #4f5958;

    --teal-100: #ebfbfa;
    --teal-200: #dbf5fb;
    --teal-300: #9fdfec;
    --teal-400: #5ec3d9;
    --teal-500: #339cb3;
    --teal-600: #128198;
    --teal-700: #0f6c7f;
    --teal-800: #074e5d;
    --teal-900: #2a4a51;

    --blue-500: #00c4ee;
    --blue-600: #01bae2;

    --green-500: #41e296;
    --green-600: #22d982;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

html {
    font-family: "Quicksand", sans-serif;
    color: var(--grey-900);
}


.homepage {
    @apply min-h-screen;

    section.landing {
        min-height: 100vh;
        background-color: var(--teal-100);

        display: grid;

        @screen lg {
            min-height: 80vh;
            grid-template-columns: 5% 1fr 5%;
        }

        .left {
            @apply hidden;

            @screen lg {
                @apply flex items-center justify-center;
            }
        }

        .right {
            // @apply hidden;

            @screen lg {
                @apply flex;
            }
        }

        .middle {
            @apply flex flex-col items-center justify-center;

            .logo {
                @apply flex flex-col justify-center items-center;

                img {
                    @apply w-auto;
                    height: 3rem;
                }

                h1 {
                    font-size: 3rem;
                    color: var(--teal-900);
                    font-weight: 100;
                    text-align: center;
                }

                h2 {
                    color: var(--teal-900);
                    font-weight: 300;
                    margin-top: -0.4rem;
                    font-size: 0.6rem;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                }
                

                @screen lg {
                    @apply flex items-center flex-row;

                    img {
                        height: 6rem;
                        @apply w-auto;
                        // width: auto;
                    }
    
                    h1 {
                        text-align: left;
                        font-size: 5.625rem;
                        line-height: 5rem;
                    }
    
                    h2 {
                        font-size: 1rem;
                        line-height: 2.8rem;
                        text-align: left;
                        letter-spacing: 6px;
                    }
                }
                
            }

            .stack {
                @apply mt-20 w-5/6;

                ul {
                    @apply flex flex-wrap justify-center;

                    li {
                        @apply mx-2 text-xs py-1;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        color: var(--teal-600);
                    }
                }

                @screen lg {
                    @apply w-2/5;
                }
            }
        }
    }

    section.contact {
        @apply mx-auto;
        width: 59.625rem;

        .contact__card {
            @apply p-8 bg-white border-blue-500 border;
            width: 90%;
            border-radius: 3px;
            position: relative;
            top: -12rem;
            overflow: visible;

            h3 {
                @apply text-teal-600 text-2xl;
                position: relative;
            }

            h3::after {
                position: absolute;
                content: '';
                width: 8rem;
                left: 0;
                top: 2.2rem;
                border-bottom: 2px solid var(--green-500);
            }
        }

        .contact__card::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 100%;
            right: -7.5rem;
            top: 2rem;
            background-image: url('/images/decor.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .card__fields {
            @apply mt-6;
            width: 60%;

            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 1rem;
            row-gap: 1rem;

            label {
                @apply text-xs text-teal-900;
            }

            input, textarea {
                @apply w-full border text-sm border-blue-500 px-2 py-1;
                resize: none;
            }
        }
    }

    section.steps {
        @apply mx-auto;
        width: 59.625rem;

        .steps__top {
            display: grid;
            grid-template-columns: 18rem 1fr;
            column-gap: 4rem;

            .left {
                height: 18rem;
                width: 100%;
                @apply bg-teal-100 rounded-full flex items-center justify-center flex-col text-center;

                h3 {
                    @apply text-teal-900 text-2xl;
                }

                p {
                    @apply text-sm text-grey-600 leading-tight;
                }
            }
        }
    }
}
